            @import '_common';
            hmtl,
            body {
                height: 100%;
            }
            
            .header {
                font-family: 'Open Sans', Arial, Helvetica, sans-serif;
                font-size: 16px;
                letter-spacing: 0.8px;
                padding-top: 84px;
                position: relative;
                // overflow: hidden;
                width: 100%;
                a {
                    color: #fff;
                }
                .navbar {
                    box-sizing: border-box;
                    padding: 0 50px;
                    background: #222;
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 100%;
                    z-index: 1100;
                    color: #fff;
                    .nav-logolink {
                        float: left;
                        a {
                            .aw-logo {
                                height: 40px;
                                width: 30px;
                                margin: 20px;
                                background: url(../../images/logo.png) no-repeat;
                            }
                        }
                    }
                    .tier1 {
                        float: left;
                        li {
                            position: relative;
                            float: left;
                            /*  &:hover {
                                background: #444;
                                .tier2 {
                                    display: block;
                                    li:hover {
                                        .tier3 {
                                            display: block;
                                        }
                                    }
                                }
                            } */
                            .firest-level-element {
                                display: block;
                                // height: 80px;
                                padding: 0 15px;
                                .upper-case-text {
                                    text-transform: uppercase;
                                    line-height: 80px;
                                }
                            }
                            .tier2 {
                                display: none;
                                z-index: 1200;
                                width: 243px;
                                background: #111;
                                position: absolute;
                                top: 100%;
                                left: 0;
                                min-width: 200px;
                                max-width: 300px;
                                .sublink {
                                    float: none;
                                    position: static;
                                    a {
                                        display: block;
                                        padding: 15px 14px;
                                        i {
                                            float: right;
                                        }
                                    }
                                }
                                .tier3 {
                                    display: none;
                                    background: #111;
                                    z-index: 1200;
                                    position: absolute;
                                    top: 0;
                                    left: 100%;
                                    width: 243px;
                                    height: 262px;
                                    li {
                                        width: 100%;
                                        background: #111;
                                        a {
                                            font-size: 14px;
                                            display: block;
                                            padding: 15px 14px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .cart-section {
                        float: right;
                        position: relative;
                        .mini-cart {
                            i {
                                font-size: 20px;
                                height: 20px;
                            }
                            font-size: 16px;
                            color: #fff;
                            display: block;
                            padding: 0 15px;
                            line-height: 80px;
                        }
                        .pop {
                            display: none;
                        }
                    }
                }
                .message-bar {
                    width: 100%;
                    background: #eee;
                    border-bottom: 1px solid #ddd;
                    margin-top: -2px;
                    .message-bar-container {
                        box-sizing: border-box;
                        padding: 4px 50px;
                        .discount {
                            padding-right: 5px;
                            float: left;
                        }
                        .message-content {
                            .long-message {
                                padding-right: 8px;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                overflow: hidden;
                                color: #444;
                            }
                            .shop-now {
                                color: #007db8;
                                line-height: 24px;
                                font-size: 16px;
                                letter-spacing: 0.8px;
                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
            }
            
            .section {
                width: 100%;
                .section1 {
                    margin-top: 20px;
                    .section1-container {
                        box-sizing: border-box;
                        padding: 0 50px;
                        margin: auto;
                        .section1-content-container {
                            float: right;
                            padding: 20px 0;
                            .section1-txt {
                                float: left;
                                width: 100px;
                                padding: 10px 0;
                                p {
                                    padding-bottom: 15px;
                                    font-size: 12px;
                                    line-height: 14px;
                                    color: #444;
                                }
                                a {
                                    color: #017899;
                                    font-size: 12px;
                                    line-height: 14px;
                                    &:hover {
                                        text-decoration: underline;
                                    }
                                }
                            }
                            .section1-img {
                                float: right;
                                img {
                                    margin: 10px 0 10px 10px;
                                    heigth: 60px;
                                }
                            }
                        }
                    }
                }
                .section2 {
                    width: 100%;
                    .section2-container {
                        box-sizing: border-box;
                        padding: 30px 50px;
                        text-align: center;
                        border-bottom: 1px solid #ccc;
                        h1 {
                            font-size: 32px;
                            line-height: 40px;
                            font-weight: 700;
                            color: #444;
                        }
                    }
                }
                .section3 {
                    width: 100%;
                    .section3_container {
                        box-sizing: border-box;
                        padding: 100px 50px;
                        text-align: center;
                        h3 {
                            font-size: 20px;
                            line-height: 24px;
                            font-weight: 700;
                            color: #444;
                        }
                        .txt-div {
                            width: 66%;
                            padding-top: 15px;
                            margin: 0 auto;
                            color: #444;
                            p {
                                line-height: 24px;
                            }
                        }
                        img {
                            margin-top: 100px;
                            font-size: 0;
                            // width: auto;
                            max-width: 100%;
                        }
                    }
                }
                .section4 {
                    width: 100%;
                    background: #f5f5f5;
                    .section4-container {
                        box-sizing: border-box;
                        padding: 0 50px;
                        .section4_box1 {
                            padding-top: 100px;
                            text-align: center;
                            color: #444;
                            h2 {
                                line-height: 32px;
                                font-size: 28px;
                                font-weight: 700;
                            }
                            h3 {
                                padding-top: 15px;
                                font-weight: 400;
                                font-size: 20px;
                                line-height: 24px;
                            }
                        }
                        .section4_box2 {
                            padding-top: 100px;
                            .section4_box2_l {
                                box-sizing: border-box;
                                padding-right: 15px;
                                width: 25%;
                                float: left;
                                a {
                                    text-align: center;
                                    color: #017899;
                                    img {
                                        max-width: 100%;
                                        font-size: 0;
                                    }
                                    h3 {
                                        padding: 30px 0;
                                        font-size: 26px;
                                        line-height: 32px;
                                        font-weight: 700;
                                    }
                                    &:hover {
                                        text-decoration: underline;
                                    }
                                }
                            }
                        }
                        .section4_box3 {
                            padding: 30px 0;
                            border-bottom: 1px solid #ccc;
                            .section4_box3_l {
                                float: left;
                                box-sizing: border-box;
                                padding-right: 15px;
                                width: 25%;
                                p {
                                    line-height: 20px;
                                    color: #444;
                                }
                            }
                            .section4_box3_r {
                                float: right;
                                box-sizing: border-box;
                                padding-right: 15px;
                                width: 25%;
                                p {
                                    line-height: 20px;
                                    color: #444;
                                }
                            }
                        }
                        .section4_box4 {
                            padding: 30px 0 100px 0;
                            .section4_box4_l {
                                float: left;
                                box-sizing: border-box;
                                padding-right: 15px;
                                width: 25%;
                                p {
                                    line-height: 20px;
                                    color: #444;
                                    font-size: 16px;
                                    font-weight: bold;
                                }
                                a {
                                    text-align: center;
                                    margin-top: 60px;
                                    display: block;
                                    color: #444;
                                    border: 3px solid #444;
                                    background: transparent;
                                    box-sizing: border-box;
                                    padding: 20px 30px;
                                    font-weight: bold;
                                    &:hover {
                                        color: #fff;
                                        background: #444;
                                    }
                                }
                            }
                        }
                    }
                }
                .section5 {
                    width: 100%;
                    .secton5-container {
                        box-sizing: border-box;
                        padding: 100px 50px;
                        .section5_imgbox {
                            width: 50%;
                            float: left;
                            img {
                                max-width: 100%;
                            }
                        }
                        .section5_content {
                            transform: translateY(100%);
                            box-sizing: border-box;
                            width: 50%;
                            padding-left: 30px;
                            float: left;
                            h3 {
                                font-size: 20px;
                                line-height: 24px;
                                font-weight: 700;
                                color: #444;
                            }
                            p {
                                padding-top: 15px;
                                line-height: 24px;
                                color: #444;
                            }
                        }
                    }
                }
                .section6 {
                    width: 100%;
                    background: #f5f5f5;
                    .secton6-container {
                        box-sizing: border-box;
                        padding: 100px 50px;
                        .section6_imgbox {
                            width: 50%;
                            float: right;
                            img {
                                max-width: 100%;
                            }
                        }
                        .section6_content {
                            transform: translateY(100%);
                            box-sizing: border-box;
                            width: 50%;
                            padding-left: 30px;
                            float: left;
                            h3 {
                                font-size: 20px;
                                line-height: 24px;
                                font-weight: 700;
                                color: #444;
                            }
                            p {
                                padding-top: 15px;
                                line-height: 24px;
                                color: #444;
                            }
                        }
                    }
                }
                .section7 {
                    width: 100%;
                    .section7-container {
                        box-sizing: border-box;
                        padding: 100px 50px;
                        .section7_imgbox {
                            width: 50%;
                            float: left;
                            img {
                                max-width: 100%;
                            }
                        }
                        .section7_content {
                            transform: translateY(100%);
                            box-sizing: border-box;
                            width: 50%;
                            padding-left: 30px;
                            float: left;
                            h3 {
                                font-size: 20px;
                                line-height: 24px;
                                font-weight: 700;
                                color: #444;
                            }
                            p {
                                padding-top: 15px;
                                line-height: 24px;
                                color: #444;
                            }
                        }
                    }
                }
                .section8 {
                    width: 100%;
                    background: #f5f5f5;
                    .section8-container {
                        box-sizing: border-box;
                        padding: 100px 50px;
                        .section8_imgbox {
                            width: 50%;
                            float: right;
                            img {
                                max-width: 100%;
                            }
                        }
                        .section8_content {
                            transform: translateY(100%);
                            box-sizing: border-box;
                            width: 50%;
                            padding-left: 30px;
                            float: left;
                            h3 {
                                font-size: 20px;
                                line-height: 24px;
                                font-weight: 700;
                                color: #444;
                            }
                            p {
                                padding-top: 15px;
                                line-height: 24px;
                                color: #444;
                            }
                        }
                    }
                }
                .section9 {
                    box-sizing: border-box;
                    width: 100%;
                    background: #222;
                    padding: 0 50px;
                    .section9-container {
                        padding: 70px 15px;
                        .section9-content {
                            float: left;
                            width: 30%;
                            color: #fff;
                            padding: 0 15px;
                            h2 {
                                margin-top: 30px;
                                font-size: 28px;
                                line-height: 32px;
                                font-weight: 700;
                            }
                            h3 {
                                padding: 20px 0 30px 0;
                                font-size: 20px;
                                line-height: 24px;
                                font-weight: 200;
                            }
                            p {
                                line-height: 24px;
                                height: 144px;
                                margin-bottom: 30px;
                            }
                            .aw-button {
                                display: block;
                                text-align: center;
                                border: 3px solid #fff;
                                padding: 20px 30px;
                                color: #fff;
                                font-weight: bolder;
                                &:hover {
                                    background: #fff;
                                    color: #444;
                                }
                            }
                        }
                    }
                }
                .section10 {
                    box-sizing: border-box;
                    width: 100%;
                    background: url(../../images/section10_bg.jpg) no-repeat;
                    padding: 0 50px;
                    .section10-container {
                        display: table;
                        height: 555px;
                        padding: 0px 15px;
                        .section10-content {
                            width: 50%;
                            color: #fff;
                            vertical-align: middle;
                            padding: 177px 15px;
                            h2 {
                                font-size: 28px;
                                line-height: 32px;
                                font-weight: 700;
                            }
                            p {
                                line-height: 24px;
                                margin-bottom: 30px;
                            }
                            .aw-button {
                                box-sizing: border-box;
                                width: 222px;
                                font-size: 15px;
                                display: block;
                                border: 3px solid #fff;
                                padding: 20px 30px;
                                color: #fff;
                                font-weight: bolder;
                                &:hover {
                                    background: #fff;
                                    color: #444;
                                }
                            }
                        }
                    }
                }
                .section11 {
                    box-sizing: border-box;
                    width: 100%;
                    padding: 0 50px;
                    .section11-container {
                        padding: 100px 0;
                        h2 {
                            display: inline;
                            font-style: italic;
                            font-weight: normal !important;
                            font-size: 28px;
                            line-height: 32px;
                            color: #444;
                        }
                        h3 {
                            display: inline;
                            font-style: italic;
                            font-weight: normal !important;
                            font-size: 20px;
                            line-height: 24px;
                            color: #444;
                        }
                        p {
                            text-align: right;
                            font-weight: bold;
                            line-height: 24px;
                            color: #444;
                            img {
                                vertical-align: bottom;
                            }
                        }
                    }
                }
                .section12 {
                    box-sizing: border-box;
                    width: 100%;
                    padding: 0 50px;
                    .section12-container {
                        padding: 100px 0;
                        .section12-top {
                            margin: 0 auto;
                            h3 {
                                text-align: center;
                                margin-bottom: 15px;
                                font-size: 20px;
                                line-height: 24px;
                                font-weight: 700;
                                color: #444;
                            }
                            p {
                                width: 730px;
                                margin: 0 auto;
                                padding-bottom: 100px;
                                text-align: center;
                                line-height: 24px;
                                color: #444;
                            }
                        }
                        .section12-bottom {
                            text-align: center;
                            img {
                                vertical-align: middle;
                            }
                        }
                    }
                }
            }
            
            .footer {
                width: 100%;
                background: #f5f5f5;
                .footer_one {
                    box-sizing: border-box;
                    padding: 0 50px;
                    .footer_one_box {
                        border-top: 1px solid #ddd;
                        border-right: 1px solid #ddd;
                        box-sizing: border-box;
                        float: left;
                        height: 187px;
                        padding: 30px 15px;
                        width: 33.33%;
                        color: #444;
                        &:nth-child(3) {
                            border-right: 0;
                        }
                        &:hover {
                            background: #fff;
                        }
                        .footer_one_img {
                            display: block;
                            text-align: center;
                            img {
                                vertical-align: bottom;
                                padding-bottom: 10px;
                            }
                        }
                        .footer_one_tit {
                            font-weight: bolder;
                            display: block;
                            text-align: center;
                        }
                        .footer_one_description {
                            display: block;
                            text-align: center;
                            font-size: 12px;
                            line-height: 20px;
                        }
                    }
                }
                .footer_two {
                    width: 100%;
                    background: #222;
                    .footer_two_container {
                        box-sizing: border-box;
                        padding: 100px 50px 0;
                        width: 100%;
                        p {
                            .linkspan {
                                float: left;
                                line-height: 20px;
                                font-size: 12px;
                                a {
                                    color: #fff;
                                    &:hover {
                                        text-decoration: underline;
                                    }
                                }
                                span {
                                    color: #fff;
                                }
                            }
                            .linkpng {
                                float: right;
                                a {
                                    display: inline-block;
                                    padding-left: 30px;
                                }
                            }
                        }
                        .country {
                            padding-top: 20px;
                            overflow: hidden;
                            .country_content {
                                height: 41px;
                                float: right;
                                a {
                                    display: block;
                                    color: #fff;
                                    &:before {
                                        margin-top: 19px;
                                        content: '';
                                        display: block;
                                        float: right;
                                        width: 0;
                                        height: 0;
                                        border: 6px solid transparent;
                                        border-top: 6px solid #fff;
                                    }
                                    .flag {
                                        float: left;
                                        height: 41px;
                                        img {
                                            margin-top: 15px;
                                        }
                                    }
                                    .country_name {
                                        margin-left: 3px;
                                        float: right;
                                        line-height: 41px;
                                        font-size: 12px;
                                    }
                                }
                            }
                        }
                    }
                }
                .footer_logo_container {
                    box-sizing: border-box;
                    width: 100%;
                    padding: 200px 0;
                    background: #222;
                    .footer_logo {
                        width: 384px;
                        height: 88px;
                        background: url(../../images/footer_logo.png) no-repeat;
                        margin: auto;
                    }
                }
                .copy_right {
                    box-sizing: border-box;
                    width: 100%;
                    background: #222;
                    padding: 0 65px 100px;
                    color: #848484;
                    font-size: 12px;
                    a {
                        color: #848484;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
            
            .right_sidebar {
                position: fixed;
                right: -264px;
                top: 35%;
                z-index: 2000;
                width: 260px;
                background: #fff;
                border: 1px solid #a9a9a9;
                border-left: 3px solid #017899;
                box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, .3);
                .sidebar_tit {
                    z-index: 2002;
                    padding: 4px 15px;
                    border: 1px solid #017899;
                    background: #017899;
                    color: #fff;
                    font-weight: bolder;
                    cursor: pointer;
                    position: absolute;
                    top: 72px;
                    left: -101px;
                    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
                    transform: rotate(90deg);
                    .rotespan {
                        display: block;
                        transform: rotate(180deg);
                    }
                }
                .sidebar_content {
                    box-sizing: border-box;
                    width: 240px;
                    padding: 20px;
                    background: #fff;
                    .sidebar_content_tit {
                        color: #444;
                    }
                    .times {
                        position: absolute;
                        top: 0;
                        right: 0;
                        padding: 5px 10px 10px;
                        a {
                            color: #737373;
                            font-weight: 800;
                            font-size: 21px;
                            text-shadow: 0 1px 0 #fff;
                        }
                    }
                    .help {
                        margin: 15px 0 15px 36px;
                        line-height: 25px;
                        font-size: 16px;
                        a {
                            i {
                                font-size: 25px;
                            }
                            font-size: 16px;
                            color: #017899;
                            margin-right: 15px;
                        }
                        .login {
                            padding-left: 32px;
                        }
                    }
                }
            }
            
            .hide {
                right: 0;
            }
            
            .callSiderbar {
                display: none;
                position: fixed;
                bottom: 22px;
                left: 22px;
                width: 24px;
                height: 24px;
                padding: 10px;
                border: 1px solid #fff;
                background: rgb(1, 120, 153);
                i {
                    font-size: 22px;
                    color: #fff;
                    text-align: center;
                }
            }
            
            @media screen and (max-width:735px) {
                .header {
                    .navbar {
                        width: 100%;
                        padding: 0;
                        .nav-logolink {
                            a {
                                .aw-logo {
                                    height: 30px;
                                    width: 30px;
                                    margin: 15px;
                                    background-size: contain;
                                }
                            }
                        }
                        .cart-section {
                            height: 62px;
                            line-height: 60px;
                            position: absolute;
                            top: 0;
                            right: 10px;
                            span {
                                display: none;
                            }
                            .mini-cart {
                                height: 60px;
                                line-height: 60px;
                                display: inline-block;
                            }
                            .pop {
                                display: inline-block;
                                width: 47px;
                                .pop_btn {
                                    padding: 20px 10px;
                                    margin: 23px 15px 0 10px;
                                    background: url(../../images/pop_btn.png) no-repeat center center;
                                }
                            }
                        }
                        .tier1 {
                            float: none;
                            // position: absolute;
                            position: fixed;
                            top: -1px;
                            z-index: 1002;
                            width: 276px;
                            height: 5000px;
                            background: #222;
                            right: -440px;
                            li {
                                box-sizing: border-box;
                                width: 100%;
                                position: relative;
                                float: none;
                                padding: 0;
                                .firest-level-element {
                                    box-sizing: border-box;
                                    width: 100%;
                                    font-size: 16px;
                                    padding: 15px;
                                    border-bottom: 1px solid #444;
                                    .upper-case-text {
                                        box-sizing: border-box;
                                        width: 85%;
                                        line-height: 20px;
                                        padding: 15px;
                                    }
                                    i {
                                        float: right;
                                    }
                                }
                                .tier2 {
                                    display: none;
                                    z-index: 999;
                                    width: 100%;
                                    background: #111;
                                    position: static;
                                    min-width: 200px;
                                    max-width: 300px;
                                    .sublink {
                                        float: none;
                                        position: static;
                                        width: 100%;
                                        a {
                                            display: block;
                                            padding: 15px 14px;
                                            border-bottom: 1px solid #444;
                                            i {
                                                float: right;
                                            }
                                        }
                                    }
                                    .tier3 {
                                        display: none;
                                        background: #111;
                                        z-index: 1200;
                                        position: static;
                                        width: 100%;
                                        height: auto;
                                        li {
                                            box-sizing: border-box;
                                            padding: 0 25px;
                                            width: 100%;
                                            a {
                                                font-size: 14px;
                                                display: block;
                                                padding: 15px 14px;
                                                border-bottom: 1px dashed #444;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .section {
                    .section1 {
                        display: none;
                    }
                    .section2 {
                        background-size: 584px 255px;
                        background-color: #d01f29;
                        .section2-container {
                            height: 255px;
                            .section2-content {
                                .section2-tit {
                                    display: none;
                                }
                                .section2-p {
                                    display: none;
                                }
                                .cta-button {
                                    display: none;
                                }
                            }
                            .arrow-down {
                                display: none;
                            }
                        }
                    }
                    .section3 {
                        .section3-img-box {
                            float: none;
                            width: 100%;
                        }
                    }
                    .section4 {
                        .section4-container {
                            h2 {
                                font-size: 20px;
                                line-height: 24px;
                            }
                        }
                    }
                    .section5 {
                        .secton5-container {
                            box-sizing: border-box;
                            padding: 50px 0 50px 15px;
                            .section5-item {
                                box-sizing: border-box;
                                float: none;
                                width: 100%;
                                margin: 0;
                            }
                        }
                    }
                    .section6 {
                        background-size: 584px 255px;
                        .section6-container {
                            height: 255px;
                            .section6-content {
                                .section6-tit {
                                    display: none;
                                }
                                .section6-p {
                                    display: none;
                                }
                            }
                        }
                    }
                    .section7 {
                        background-position: 90% center;
                        background-size: 584px 255px;
                        .section7-container {
                            height: 255px;
                            .section7-content {
                                .section7-tit {
                                    display: none;
                                }
                                .section7-p {
                                    display: none;
                                }
                            }
                        }
                    }
                    .section8 {
                        background-size: 584px 255px;
                        .section8-container {
                            height: 255px;
                            .section8-content {
                                .section8-tit {
                                    display: none;
                                }
                                .section8-p {
                                    display: none;
                                }
                            }
                        }
                    }
                    .section9 {
                        padding: 0;
                        .section9-container {
                            padding: 0 10px;
                            .section9-content {
                                float: none;
                                width: 100%;
                                padding: 0;
                                h2 {
                                    margin: 0;
                                    padding-top: 10px;
                                    font-size: 20px;
                                    line-height: 24px;
                                }
                                h3 {
                                    font-size: 17px;
                                    line-height: 20px;
                                }
                                p {
                                    line-height: 20px;
                                    height: auto;
                                }
                                .aw-button {
                                    width: 70%;
                                    font-size: 14px;
                                    margin-bottom: 10px;
                                }
                            }
                        }
                    }
                    .section10 {
                        padding: 0;
                        .section10-container {
                            padding: 0 10px;
                            .section10-content {
                                float: none;
                                width: 100%;
                                padding: 0;
                                h2 {
                                    font-size: 20px;
                                    line-height: 24px;
                                }
                                h3 {
                                    font-size: 17px;
                                    line-height: 20px;
                                }
                                p {
                                    line-height: 20px;
                                    height: auto;
                                }
                                .aw-button {
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                    .section11 {
                        padding: 0;
                        .section11-container {
                            padding: 50px 10px;
                            h2 {
                                font-size: 20px;
                                line-height: 24px;
                            }
                            h3 {
                                font-size: 17px;
                                line-height: 20px;
                            }
                            p {
                                font-size: 14px;
                            }
                        }
                    }
                    .section12 {
                        padding: 0;
                        .section12-container {
                            padding: 50px 10px;
                            .section12-top {
                                h3 {
                                    font-size: 17px;
                                    line-height: 20px;
                                }
                                p {
                                    width: 100%;
                                    font-size: 14px;
                                    text-align: left;
                                }
                            }
                            .section12-bottom {
                                img {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
                .footer {
                    .footer_one {
                        padding: 0;
                        .footer_one_box {
                            float: left;
                            width: 100%;
                            border-right: 0;
                            border-bottom: 1px solid #ddd;
                            .footer_one_img {
                                display: block;
                                text-align: center;
                                img {
                                    vertical-align: bottom;
                                    padding-bottom: 10px;
                                }
                            }
                            .footer_one_tit {
                                font-weight: bolder;
                                display: block;
                                text-align: center;
                            }
                            .footer_one_description {
                                display: block;
                                text-align: center;
                                font-size: 12px;
                                line-height: 20px;
                            }
                        }
                    }
                    .footer_two {
                        .footer_two_container {
                            box-sizing: border-box;
                            padding: 50px 20px 0;
                            width: 100%;
                            p {
                                text-align: center;
                            }
                        }
                    }
                    .footer_logo_container {
                        box-sizing: border-box;
                        width: 100%;
                        padding: 100px 0;
                        background: #222;
                        .footer_logo {
                            width: 54px;
                            height: 76px;
                            background: url(../../images/logo.png) no-repeat center center;
                            background-size: 54px 76px;
                            margin: auto;
                        }
                    }
                    .copy_right {
                        box-sizing: border-box;
                        width: 100%;
                        padding: 25px 15px 0;
                        p {
                            padding: 10px 20px 10px 0;
                        }
                        a {
                            color: #848484;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
                .right_sidebar {
                    position: fixed;
                    left: 0;
                    top: 200%;
                    z-index: 2000;
                    width: 260px;
                    height: 200px;
                    overflow: hidden;
                    .sidebar_tit {
                        display: none;
                    }
                    .sidebar_content {
                        box-sizing: border-box;
                        width: 240px;
                        padding: 20px;
                        background: #fff;
                        .sidebar_content_tit {
                            color: #444;
                        }
                        .times {
                            position: absolute;
                            top: 0;
                            right: 0;
                            padding: 5px 10px 10px;
                            a {
                                color: #737373;
                                font-weight: 800;
                                font-size: 21px;
                                text-shadow: 0 1px 0 #fff;
                            }
                        }
                        .help {
                            margin: 15px 0 15px 36px;
                            line-height: 25px;
                            font-size: 16px;
                            a {
                                i {
                                    font-size: 25px;
                                }
                                font-size: 16px;
                                color: #017899;
                                margin-right: 15px;
                            }
                            .login {
                                padding-left: 32px;
                            }
                        }
                    }
                }
                .callSiderbar {
                    display: block;
                    cursor: pointer;
                }
            }